{% extends "admin/change_form.html" %}
{% load staticfiles %}
{% block extrahead %}
    {{ block.super }}
{% endblock extrahead %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'pyscada/css/admin/admin_modelStyle.css' %}"/>
{% endblock extrastyle %}
{% block after_related_objects %}
    <div id="model-container">
        <canvas id="model-canvas"></canvas>
        <canvas id="navcube-canvas"></canvas>
    </div>
    <script src="{% static 'pyscada/js/admin/admin_model3dbundle.js' %}"></script>
{% endblock after_related_objects %}
