<div id="isBim3DModel" fileName="{{ bim3dmodel.file.name }}" fileUrl="{{ bim3dmodel.file.url }}">
    <div class="model-controller-buttons">
        <button id="model-control-fit-view">fit view</button>
        <button id="model-control-slice">slice</button>
    </div>
    <div class="model-menu" id="model-tree-view-container">
        <div id="model-tree-tab" class="model-tree-tab">
            <button class="model-tree-tab-links" onclick="openTree(event, this.innerHTML)">containment</button>
            <button class="model-tree-tab-links" onclick="openTree(event, this.innerHTML)">storeys</button>
            <button class="model-tree-tab-links" onclick="openTree(event, this.innerHTML)">types</button>
        </div>
        <div id="model-tree-content-containment" class="model-tab-content"></div>
        <div id="model-tree-content-storeys" class="model-tab-content"></div>
        <div id="model-tree-content-types" class="model-tab-content"></div>
    </div>
    <div class="model-viewer">
        <canvas id="3dmodel-canvas"></canvas>
        <canvas id="nav-cube-canvas"></canvas>
    </div>
    <div id="model-properties-container">
        <div id="class-properties-container" style="display: none;"></div>
        {% for class in classesContent %}{{ class }}{% endfor %}
    </div>
</div>