<canvas id="myCanvas"></canvas>
<canvas id="myNavCubeCanvas"></canvas>
<div id="treeViewContainer">
    <div class="tab">
        <button id="defaultBtn" class="tablinks" onclick="openTree(event, 'containment')">containment</button>
        <button class="tablinks" onclick="openTree(event, 'storeys')">storeys</button>
        <button class="tablinks" onclick="openTree(event, 'types')">types</button>
    </div>
    <div id="containmentTree" class="tabcontent"></div>
    <div id="storeysTree" class="tabcontent"></div>
    <div id="typesTree" class="tabcontent"></div>
</div>
<div id="propertiesContainer"></div>
